In [1]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv("./data/all_counts_9_norm_rpkm_log2_preprocessed.csv", index_col=0)
data.head()

,BB9,BB10,BB17,BB19,BB20,BB21,BB11,BB12,BB18
gene,,,,,,,,,
aaeA,5.542667,5.876225,5.189101,6.178741,6.258982,5.921482,6.565341,6.308676,6.256590
aaeB,5.627977,5.436188,5.397088,5.493631,5.603751,5.716862,5.840627,6.132819,5.896502
aaeR,5.645506,5.758852,5.107190,5.824890,5.487705,6.033795,5.710782,6.302440,16.270368
aaeX,6.081770,6.043589,6.030808,6.358792,15.682419,6.129392,6.042647,6.134309,15.797839
aas,6.224669,6.297153,6.297008,6.047021,6.038410,6.296795,6.295251,6.598525,6.568365

In [29]:
for idx in range(data.shape[0]):
    np.std(np.log2((data.iloc[idx,:]/data).loc[data.index!=data.index[idx]]), axis=1)
    
    break

In [10]:
data/data.loc["aaeA"]

,BB9,BB10,BB17,BB19,BB20,BB21,BB11,BB12,BB18
gene,,,,,,,,,
aaeA,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
aaeB,1.015392,0.925116,1.040081,0.889118,0.895313,0.965445,0.889615,0.972125,0.942447
aaeR,1.018554,0.980026,0.984215,0.942731,0.876773,1.018967,0.869838,0.999012,2.600517
aaeX,1.097264,1.028482,1.162207,1.029140,2.505586,1.035111,0.920386,0.972361,2.524992
aas,1.123046,1.071632,1.213507,0.978682,0.964759,1.063382,0.958861,1.045944,1.049831
...,...,...,...,...,...,...,...,...,...
zraR,0.936129,0.794356,0.892069,0.773472,0.817436,0.918501,0.808880,0.893361,0.849610
zraS,0.988255,0.842089,0.988277,0.875947,0.815934,0.927849,2.426114,0.913348,0.877666
zupT,1.369240,3.004265,3.463898,2.902884,2.865291,2.961074,2.665559,2.691240,2.797326
zur,3.040575,2.856000,1.303644,2.783208,1.169077,2.817618,2.538097,1.027444,1.044962
zwf,1.445586,3.059098,3.592449,1.270637,2.846623,2.898405,2.628733,1.007499,2.760646

In [ ]:
def gen_stability(data):
    for idx, values in data.iterrows()