### <center>M-measure - GeNorm

$$ A_{jk} = \left(log_{2}\frac{a_{1j}}{a_{1k}}, \cdots, log_{2}\frac{a_{mj}}{a_{mk}}\right)$$
<br>
$$ V_{jk} = \sigma (A_{jk})$$ 
<br>
$$ M_{j} = \frac{\sum_{k=1}^{n}V_{jk}}{n-1} $$

In [71]:
import numpy as np
import pandas as pd
from time import time

In [5]:
data = pd.read_csv("./data/all_counts_9_norm_rpkm_log2_preprocessed.csv", index_col=0)
data.head()

,BB9,BB10,BB17,BB19,BB20,BB21,BB11,BB12,BB18
gene,,,,,,,,,
aaeA,5.542667,5.876225,5.189101,6.178741,6.258982,5.921482,6.565341,6.308676,6.256590
aaeB,5.627977,5.436188,5.397088,5.493631,5.603751,5.716862,5.840627,6.132819,5.896502
aaeR,5.645506,5.758852,5.107190,5.824890,5.487705,6.033795,5.710782,6.302440,16.270368
aaeX,6.081770,6.043589,6.030808,6.358792,15.682419,6.129392,6.042647,6.134309,15.797839
aas,6.224669,6.297153,6.297008,6.047021,6.038410,6.296795,6.295251,6.598525,6.568365

In [72]:
t_i = time()
m_measures = {}
for idx in range(data.shape[0]):
    all_pairs = np.std(np.log2((data.iloc[idx,:]/data).loc[data.index!=data.index[idx]]), axis=1)
    m_measures[data.index[idx]] = np.mean(all_pairs)
t_f = time()
print("avg time: ", t_f-t_i, "[s]")

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: RuntimeWarning: divide by zero encountered in log2
  after removing the cwd from sys.path.

avg time:  22.801254987716675 [s]

In [73]:
m = np.array(list(dict(sorted(m_measures.items(), key=lambda x: x[1])).keys()))

In [74]:
np.where(m=="ftsX")

(array([18]),)