#### número de re-tweets
- só serão levados en conta os tweets que tenham as palavras chaves e que os usuarios não estejam na "black list"

In [34]:
import pandas as pd
import numpy as np

In [35]:
data = pd.read_csv("../YInt.csv")

In [36]:
data.head()

,time,location,account,message
0,2020-04-06 00:00:00,Weston,Opportunities2,"Take advantheeseage of theesehese One, theeser..."
1,2020-04-06 00:00:00,Southton,LazyBCouch,@WatchesThomasBird fork it you're back in he s...
2,2020-04-06 00:02:00,Southton,______3333_____,Two month left bedoreefore you loose this vibe...
3,2020-04-06 00:04:00,Broadview,RasoHorse49,"billeeeeer, i miss ytouou !"
4,2020-04-06 00:07:00,West Parton,CuriousPlateBobbie_Mallon,You obviously need to use rumble! #rumble #toW...

In [41]:
black_list = open("./data/blacklist.txt", "r").read().replace('@','').split('\n')

In [42]:
black_list

['______3333_____',
 'syndicated348',
 'syndicated4',
 'syndicated5',
 'cantoncoordon2',
 'opportunities1',
 'opportunities2',
 'j0rdanwantsbacon',
 'jordanwantsbac0n',
 'handle',
 '']